html, body{
    background-color: rgb(145, 145, 145);
}

.resetbutton {
    background-color:#ced4da;
    width: 200px;
    height: 35px;
    border-radius: 8px;
}

.gameBtn {
    background-color: #ced4da;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
}

.turnRed{
    background-color: #861313;
}

.turnBlue{
    background-color: #281d86;
}

.gameBoard{
    border: 3px solid #0b7285;
    border-radius: 14px;
    background-color: #0c8599;
    padding: 20px 40px;
}


